
.quantity-picker{

    border: 2px groove #1C6EA4;
    border-radius: 40px 40px 40px 40px;
}

.quantity-picker button{

    margin: 5px;
    background-color: aqua;
    box-shadow: 1px 1px black;
}

.quantity-picker label{

   color: whitesmoke;
}